Debug/*
DEC/*
ipch/*
objfiles/*
Release/*
cudaSolver/*
*.aps
*.rc
*.qrc
*.ui
*.sln
*sdf
*.suo
*.obj
*.ilk
*.pdb
*vcxproj*
*.m
*/Debug/*
*/Release/*
simpleDisplay/GeneratedFiles/*
*vf_x*
*fs_*
".exe"
*.asv